/* store */

.contenedor-store {
padding: 3.125rem;
background-image: url("../assets/img/fondo_tienda.jpg");
background-attachment: fixed;
background-position: center;
background-size: cover;
height: 100%;
width: 100%;
@include flexbox (flex, column, wrap, center, center);
    .header-store {
        h1 {
            @include h1 ();

    }
}
    .background_img {
        margin: auto;
        background-image: url("../assets/img/controlblancops5.jpg");
        width: 60%;
        height: 9.375rem;
        background-attachment: fixed;
        background-size: cover ;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: .625rem;
        box-shadow: 0 0 .75rem 1rem rgb(255, 255, 255);
}
}


