/* Tienda */

.contenedor-tienda {
    padding: 3.125rem;
    background-image: url("../assets/img/fondo_tienda.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.header-tienda h2 {
    padding: 2.5rem;
    color: $white_light;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow: .3125rem .3125rem .75rem black;
}

.background_img {
    
    margin: auto;
    background-image: url("../assets/img/controlblancops5.jpg");
    
    width: 44.6875rem;
    height: 9.375rem;
    background-attachment: fixed;
    background-size: 75rem 37.5rem ;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: .625rem;
    box-shadow: 0 0 .75rem 1rem rgb(255, 255, 255);
    
}

.contenedor-card {

    width: 70%;
    height: auto;
    padding: 6.25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: start;
    align-content: center;
    flex-wrap: wrap;
    gap: 3.125rem;
}

.card {
    max-width: 13.125rem;
    padding: .9375rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    border-radius: 1.875rem;
    text-align: center;
    color: $white_light;
    box-shadow: .0625rem .0625rem .3125rem .3125rem rgb(204, 195, 195);
    transition: 0.9s;  
}

.card:hover {
    transform: translatey(-15%);
    box-shadow: .125rem .1875rem .625rem 1rem white;

}

.card img {
    padding: 1.25rem;
    max-width: 9.375rem;
    max-width: 11.625rem;
}

.card h3 {
    font-size: .9375rem;
    font-weight: bold;
    text-shadow: .3125rem .3125rem .75rem black;
}

.card button {
    margin: .3125rem;
    padding: .3125rem;
    background-color: black;
    color: $white_light;
    font-weight: bold;
    outline: 0;
    border: .1563rem solid $orange;
    transition: 0.3s;
}

.card button:hover {
    background-color: $white_light;
    color: $blue;
    border: .1563rem solid $blue;
    outline: .0625rem solid $blue;;
    transform: scale(1.1, 1.1);
    cursor: pointer;
}

.card p {
    font-weight: bold;
    text-shadow: .3125rem .3125rem .15 black;
}

.card p span {
    color: $orange_dark;
    
}