/* Footer */

.contenedor-footer {
margin: 0;
padding: 0;
width: 100%;
height: 12.5rem;
background-color: black;
@include flexbox (flex, row, wrap, space-around, center);
color: white;
    .contenedor-imgLogoFooter {
    max-width: 22.5rem;
    height: 100%;
    display: flex;
    flex-basis: 50%;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
    .horario {
    padding: .625rem;
    text-align: center;
    img {
    width: 6.25rem;
    height: 3.125rem;
    }
}
.socialMediaColumn {
max-width: 22.5rem;
@include flexbox (flex, column, wrap, center, center);
flex-basis: 25%;
    .socialMediaf {
    max-width: 22.5rem;
    min-width: 22.5rem;
    @include flexbox (flex, row, wrap, center, center);
    flex-basis: 25%;
    gap: .75rem;
        .imgRedSocial {
            max-width: 1.875rem;
            max-height: 1.875rem;
            transition: 0.8s;
            &:hover {
            filter: drop-shadow(0 0 0.5rem white) drop-shadow(0 0 0.5rem white) drop-shadow(0 0 0.5rem white);
            transform: scale(1.3, 1.3);
}
}
}
}

.foot {
background-color: black;
width: 100%;
font-weight: bold;
text-align: center;
color: white;
padding: 20px;
}


}