@media (max-width: 1440px) {
    .contenedor-main h1 {
        padding: 1.25rem 0 .625rem 0;  
        font-weight: 700;
        font-size:  2.1875rem;
        margin-bottom: 3.125rem; 
                    
    }
    
    .carrousel_h1 {
        padding: 0;
        height: 9.375rem;
        font-size: .875rem;
        .pre {
            padding: 0;
        }
        .out {
            padding:0;
            height: 50%;
            .inner {
                margin-left: .5rem ;
                height: 2vh;
                
            }
        }                  
    }

    @keyframes rotate_h1 {
        0% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(-130px);
        }
        100%{
            transform: translateY(-265px);
        }
    
    }


    .faq_h1 {
        position: relative;
        top: 0;
        }
    
}






@media (max-width: 1024px) {
    #header {
        display: none;
    }
    
    #header_movil {
        display: block;
    }

    * {
        font-size: 1rem;
        max-width: 64rem;
    }
    
    .contenedor-newsletter {
        max-width: 100%;
        padding: 7.8125rem 7.8125rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .contenedor-newsletter h2 {
    font-size: 3.375rem;
    text-align: center;
    }
    
    .contenedor-newsletter p  {
        margin-bottom: .9375rem;
        font-size: 1.125rem;
        font-weight: bold;
        text-align: center;
        }
    
    .contenedor-newsletter input {
        margin: .9375rem;
        padding: .125rem;
        font-size: 1rem;
    }
    
    .contenedor-newsletter button {
        padding: .375rem;
        font-size: 1rem;
    }
    /* Service */

    .contenedor-service {
        
        padding: 3.125rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        gap: 1.875rem;
    }
        
    .service {
        max-width: 31.25rem;
        padding: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .service img {
        margin: 1.875rem;
    }
    
    .contenedor-service .service h2 {
        font-size: 2.5rem;
    }
    
    .contenedor-service .service p {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .socialMediaf {
        flex-basis: 25%;
    
    }
    .socialMediaColumn {
        flex-basis: 25%;
    }
    
    .contenedor-imgLogoFooter {
        flex-basis: 50%;
    }
    
    

    // Footer


    .foot {
        p{
        padding: .3125rem;
        text-align: center;
        background-color: black;
        color: white;

        }
    }
        

    // FAQ

    .faq_h1 {
        position: relative;
        top: 3.75rem;
        }
        
                // PS4

                .container_ps4 {
                    .ps4_header {
                        h1 {
                        padding: 6.25rem 0;
                        font-weight: 600;
                        font-size: 2.5rem;
                        color: $white_light;
                        text-align: center;
                        text-shadow: 6px 6px 8px black;
                        animation: textoH1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                    }
                    }
                .container_slider {
                    display: none;
                }
                
                .top_10 {
                    padding: 1.875rem 0;
                        h2 {
                            height: 6.25rem;
                            padding: 1.875rem;
                            font-size: 2.1875rem;
                            
             
                        }
                        .top10_flex {
                            width: 90%;
                                .ps4_card {
                                    width: 30%;
                                    h3 {
                                        font-weight: 200;
                                        font-size: 1.25rem;
                                        }
                                    img {
                                        width: 100%;
                                        max-width: 18.75rem;
                                        max-height: 18.75rem;
                                    }
                
                                    
                                }
                        }
                }
                
                .container_slider_plus {
                    display: none;
                }
                
                
                
                
                .plus {
                    h2 {
                        font-size: 2.1875rem;
                        height: 6.25rem;
                        padding: 1.875rem .3125rem;
                        margin: auto;
                
                    }
                        .plus_flex {
                            margin: 3.125rem 0;
                            width: 70%;
                        }
                }
                
                
                
                }
    

}
    
    
    
    @media (max-width: 768px) {
    
    * {
        font-size: 1rem;
        max-width: 48rem;
    }
    
    #header {
        display: none;
    }
    
    #header_movil {
        display: block;
    }
    
    .nav {
        z-index: 20;
        position: fixed;
        width: 100%;
        height: 3.75rem;
    }
    
    
        /* Main */
    
    .contenedor-main {
        padding: 5rem .625rem;
        gap: .9375rem;
        justify-content:center;
        align-content: center;
        align-items: center;
    
    }
    
    .contenedor-main h1 {
        padding: 1.25rem 0 .625rem 0;  
        font-weight: 700;
        font-size:  2.1875rem;
        margin-bottom: 3.125rem; 
                    
    }

    
    .carrousel_h1 {
        padding: 0;
        height: 9.375rem;
        font-size: .875rem;
        .pre {
            padding: 0;
        }
        .out {
            padding:0;
            height: 50%;
            .inner {
                margin-left: .5rem ;
                height: 2vh;
                
            }
        }                  
    }

    @keyframes rotate_h1 {
        0% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(-130px);
        }
        100%{
            transform: translateY(-265px);
        }
    
    }

    
    .imgMenu {
        max-width: 7.1875rem;
        max-height: 15.9375rem;
    }
    
    .imgMenu-1 {
        margin-bottom: 3.75rem;
    }
    
    .imgMenu-2 {
        margin-top: 3.75rem;
    }
    
    .imgMenu-3 { 
        margin-bottom: 3.75rem;
    }
    
    .imgMenu-4 {
        margin-top: 3.75rem;
    }
    
    .imgMenu-5 {
        margin-bottom: 10rem;
    }
        
    .imgMenuLateral {
        max-width: 14rem;
        max-height: 12.5625rem;
    
    }
        
    .contenedor-columnaImgLateral {
        gap: .9375rem;
        padding-bottom: 0;
    }
    
    .imgMenu1-1 {
        margin-left: 10rem;
    }
    
    .imgMenu1-2 {
        margin-right: 10rem;
    }
    
    /* Newsletter */
    
    .contenedor-newsletter {
        padding: 4.375rem 1.25rem;
    
        }
    
    .contenedor-newsletter h2 {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
            
    }
            
    .contenedor-newsletter p  {
            
        font-size: .9375rem;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
            
    }
    
    .contenedor-newsletter div form {
        width: 100%;
        margin: auto;
        text-align: center;
    
    }
            
    .contenedor-newsletter input {
        padding: 0;
        margin: 1.25rem .625rem;
        font-size: .9375rem;
        font-weight: bold;
        border-radius: .3125rem;
        
    }
    
    .imput-name, .imput-email{
        align-items: center;
        align-self: center;
        align-content: center;
    }
    
    .contenedor-newsletter button {
        width: 100%;
        padding: .125rem;
        font-size: .9375rem;
    
    }

    // Contacto

    .contenedor-contacto form {
        width: 80%;
        height: auto;
        padding: 6.25rem 0;
    }
            
        /* Service */
    
    .contenedor-service {
            
        padding: 3.125rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        gap: 1.875rem;
    }
        
    .service {
        max-width: 25rem;
        padding: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .service img {
        margin: 1.875rem;
    }
    
    .contenedor-service .service h2 {
        font-size: 1.4375rem;
    }
    
    .contenedor-service .service p {
        font-size: .9375rem;
    }
    
        /* Footer */

        .contenedor-footer {
            height: auto;
            padding: 1.875rem;    
            width: 100%;
            text-align: center;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: .625rem 0;
            gap: .9375rem;
            .contenedor-imgLogoFooter {
            max-width: 17.5rem;
            max-height: 9.375rem;
            flex-basis: 0%;
            }
                .horario {
                padding: .625rem;
                text-align: center;
                img {
                width: 6.25rem;
                height: 6.25rem;
                }
            }
            .socialMediaColumn {
                padding-top: 3.125rem;
                flex-basis: 0%;
                .socialMediaf {
                    flex-basis: 0%;
                    gap: .625rem;
                        .imgRedSocial {
                        width: 100%;
                        height: 100%;
    
            }
            }
            }
            }


            .foot {
                p{
                padding: .3125rem;
                text-align: center;
                background-color: black;
                color: white;
                
                }
                }
                
    
    /* store */
     
    .container_card {
        width: 100%;
    }
        
.contenedor-store {
        width: 100%;
        height: auto;
        padding: 3.125rem 0;
        gap: 3.4375rem;
            .header-store {
            padding-top: 4.375rem;
            h2 {
            width: 100%;
            margin-top: 1.25rem;
            padding: 0;
            font-size: 1.875rem;
            text-align: center; 
        }
        }
        }
    .background_img {
        width: 18.75rem;
        height: 9.375rem;
        }    


    /* Blog */
    
    .contenedor-blog  {
        padding: 2.5rem 0 ;
            h2 {
            font-size: 1.5625rem;
            height: auto;
            padding: 2.5rem 0 1.25rem 0;
            margin: 0;
            }
            .background_img_blog {
                width: 70%;
                padding: 3.75rem 8.125rem;
            }
            .blog {
                width: 70%;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 1.5625rem;
                    img {
                    width: 60%;
                    height: 60%;    
                    }
                    p {
                    padding: .625rem;
                    font-size: .75rem;
                    }
                    .btn {
                        width: 40%;
                        align-self: center;
                        font-size: .875rem;
                        }
                        }
    }

        // FAQ


    .faq_h1 {
    position: relative;
    top: 3.75rem;
    }

    .background_faq {
        background-size: cover;
    }

    .container_faq {
        width: 90%;
        .acordeon_1 {
            width: 90%;
    }
    }

            // PS4

            .container_ps4 {
                .ps4_header {
                    h1 {
                    padding: 6.25rem 0;
                    font-weight: 600;
                    font-size: 2.5rem;
                    color: $white_light;
                    text-align: center;
                    text-shadow: 6px 6px 8px black;
                    animation: textoH1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                }
                }
            .container_slider {
                display: none;
            }
            
            .top_10 {
                padding: 1.875rem 0;
                    h2 {
                        height: 6.25rem;
                        padding: 1.875rem;
                        font-size: 1.875rem;
                        
         
                    }
                    .top10_flex {
                        width: 60%;
                            .ps4_card {
                                width: 60%;
                                h3 {
                                    font-weight: 200;
                                    font-size: .9375rem;
                                    }
                                img {
                                    width: 100%;
                                    max-width: 18.75rem;
                                    max-height: 18.75rem;
                                }
            
                                
                            }
                    }
            }
            
            .container_slider_plus {
                display: none;
            }
            
            
            
            
            .plus {
                h2 {
                    font-size: 1.875rem;
                    height: 6.25rem;
                    padding: 1.875rem .3125rem;
                    margin: auto;
            
                }
                    .plus_flex {
                        margin: 3.125rem 0;
                        width: 70%;
                    }
            }
            
            
            
            }

    
    }
    
    
    @media (max-width:576px) {
    
    * {
        font-size: 1rem;
        max-width: 31.25rem;
    }
    
    #header {
        display: none;
    }
    
    #header_movil {
        display: block;
    }
    
    
    
    /* Main */
    
    .contenedor-main {
        padding: 5rem 1.25rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 1.875rem;
    }
    
    .contenedor-main h1 {
        padding: 1.25rem 0 .625rem 0;  
        font-weight: 700;
        font-size:  1.125rem;
        margin-bottom: 0; 
                    
    }

    .carrousel_h1 {
        padding: 0;
        height: 6.25rem;
        font-size: .875rem;
        .pre {
            padding: 0;
        }
        .out {
            padding:0;
            height: 50%;
            .inner {
                margin-left: .5rem ;
                height: 2vh;
                
            }
        }                  
    }

    @keyframes rotate_h1 {
        0% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(-55px);
        }
        100%{
            transform: translateY(-110px);
        }
    
    }

    
    .imgMenu {
        margin: 0;
        max-width: 7.1875rem;
        max-height: 15.9375rem;
    }
        
    .imgMenuLateral {
        margin: 0;
        max-width: 14rem;
        max-height: 12.5625rem;
    
    }
        
    .imgMenu-1 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-2 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-3 { 
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-4 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-5 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .contenedor-columnaImgLateral {
        gap: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    /* Newsletter */
    
    .contenedor-newsletter {
        padding: 4.375rem 1.25rem;
    
        }
    
    .contenedor-newsletter h2 {
        font-size: 2.1875rem;
        font-weight: 600;
        text-align: center;
            
    }
            
    .contenedor-newsletter p  {
            
        font-size: .875rem;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
            
    }
    
    .contenedor-newsletter div form {
        width: 100%;
        margin: auto;
        text-align: center;
    
    }
            
    .contenedor-newsletter input {
        padding: 0;
        margin: 1.25rem auto;
        font-size: .75rem;
        font-weight: bold;
        border-radius: .3125rem;
        width: 45%;
        
    }
    
    .contenedor-newsletter button {
        width: 100%;
        padding: .125rem;
        font-size: .75rem;
    
    }
            
        /* Service */
    
    .contenedor-service {
            
        padding: 3.125rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
        
    .service {
        max-width: 17.5rem;
        padding: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .service img {
        margin: .9375rem;
    }
    
    .contenedor-service .service h2 {
        font-size: 1rem;
    }
    
    .contenedor-service .service p {
        font-size: .75rem;
    }
    
        /* Footer */
        
        .contenedor-footer {
            height: auto;
            padding: 1.875rem;    
            width: 100%;
            text-align: center;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: .625rem 0;
            gap: .9375rem;
            .contenedor-imgLogoFooter {
            max-width: 17.5rem;
            max-height: 9.375rem;
            flex-basis: 0%;
            }
                .horario {
                padding: .625rem;
                text-align: center;
                img {
                width: 6.25rem;
                height: 6.25rem;
                }
            }
            .socialMediaColumn {
                padding-top: 3.125rem;
                flex-basis: 0%;
                .socialMediaf {
                    flex-basis: 0%;
                    gap: .625rem;
                        .imgRedSocial {
                        width: 100%;
                        height: 100%;
    
            }
            }
            }
            }
        .foot {
            p{
            padding: .3125rem;
            text-align: center;
            background-color: black;
            color: white;
    
            }
            }
            
    /* Contacto */
    
    .contenedor-contacto form {
        width: 80%;
        height: auto;
        padding: 6.25rem 0;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        backdrop-filter: blur(1.875rem);
    
    }
    
    .contenedor-contacto form h1 {
        margin-bottom: 3.125rem;
        width: 100%;
        font-size: 1.875rem;
    }
    
    .contenedor-contacto form input {
        width: 80%;
        height: 2.5rem;
        padding-left: 0;
    }
    
    .contenedor-contacto #apellido, .contenedor-contacto #movil {
        margin-left: 0;
    }
    
    .contenedor-contacto form h4 {
        color: white;
        font-weight: 300;
        width: 80%;
        margin-top: 1.25rem;
    
    }
    
    .contenedor-contacto form textarea {
        min-width: 80%;
        max-width: 80%;
    }
    
    .contenedor-contacto #button {
        margin-right: 0;
        margin-bottom: 0;
    }
    
    
    /* store */
    
    .contenedor-store {
        width: 100%;
        height: auto;
        padding: 3.125rem 0;
        gap: 3.4375rem;
            .header-store {
            padding-top: 4.375rem;
            h2 {
            width: 100%;
            margin-top: 1.25rem;
            padding: 0;
            font-size: 1.875rem;
            text-align: center; 
        }
        }
        }
    .background_img {
        width: 18.75rem;
        height: 9.375rem;
        }
        
        
    /* Blog */
    
    .contenedor-blog  {
        padding: 2.5rem 0 ;
            h2 {
            font-size: 1.5625rem;
            height: auto;
            padding: 2.5rem 0 1.25rem 0;
            margin: 0;
            }
            .background_img_blog {
                width: 20%;
                padding: 3.75rem 8.125rem;
            }
            .blog {
                width: 80%;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 1.5625rem;
                    img {
                    width: 100%;
                    height: 100%;    
                    }
                    p {
                    padding: .625rem;
                    font-size: .75rem;
                    }
                    .btn {
                        width: 40%;
                        align-self: center;
                        font-size: .875rem;
                        }
                        }
    }

        // FAQ

    .faq_h1 {
    position: relative;
    top: 3.75rem;
    }

    
    .background_faq {
        background-size: cover;
    }

    .container_faq {
        width: 90%;
        .acordeon_1 {
            width: 90%;
    }
    }

            // PS4

            .container_ps4 {
                .ps4_header {
                    h1 {
                    padding: 6.25rem 0;
                    font-weight: 600;
                    font-size: 1.875rem;
                    color: $white_light;
                    text-align: center;
                    text-shadow: 6px 6px 8px black;
                    animation: textoH1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                }
                }
            .container_slider {
                display: none;
            }
            
            .top_10 {
                padding: 1.875rem 0;
                    h2 {
                        height: 6.25rem;
                        padding: 1.875rem;
                        font-size: 1.25rem;
                        
         
                    }
                    .top10_flex {
                            .ps4_card {
                                width: 80%;
                                h3 {
                                    font-weight: 200;
                                    font-size: .9375rem;
                                    }
                                img {
                                    width: 100%;
                                }
            
                                
                            }
                    }
            }
            
            .container_slider_plus {
                display: none;
            }
            
            
            
            
            .plus {
                h2 {
                    height: 6.25rem;
                    padding: 1.875rem .3125rem;
                    margin: auto;
            
                }
                    .plus_flex {
                        margin: 3.125rem 0;
                        width: 80%;
                    }
            }
            
            
            
            }

    
    }
    @media (max-width: 425px) {
    
    * {
        font-size: 1rem;
        max-width: 26.5625rem;
    }
    
    #header {
        display: none;
    }
    
    #header_movil {
        display: block;
    }
    
   
    /* Main */
    
    .contenedor-main {
        padding: 5rem 1.25rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
    
    .contenedor-main h1 {
        padding: 1.25rem 0 .625rem 0;  
        font-weight: 700;
        font-size:  1.125rem;
         
                    
    }

    .carrousel_h1 {
        padding: 0;
        height: 3.125rem;
        font-size: .875rem;
        .pre {
            padding: 0;
        }
        .out {
            padding:0;
            height: 100%;
            .inner {
                margin-left: .5rem ;
                height: 7vh;
                
            }
        }                  
    }

    @keyframes rotate_h1 {
        0%,50% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(-55px);
        }
        100%{
            transform: translateY(-114px);
        }
    
    }

    
    .imgMenu {
        margin: 0;
        max-width: 7.1875rem;
        max-height: 15.9375rem;
    }
        
    .imgMenuLateral {
        margin: 0;
        max-width: 14rem;
        max-height: 12.5625rem;
    
    }
        
    .imgMenu-1 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-2 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-3 { 
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-4 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-5 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .contenedor-columnaImgLateral {
        gap: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    /* Newsletter */
    
    .contenedor-newsletter {
        padding: 4.375rem 1.25rem;
    
        }
    
    .contenedor-newsletter h2 {
        font-size: 2.1875rem;
        font-weight: 600;
        text-align: center;
            
    }
            
    .contenedor-newsletter p  {
            
        font-size: .875rem;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
            
    }
    
    .contenedor-newsletter div form {
        width: 100%;
        margin: auto;
        text-align: center;
    
    }
            
    .contenedor-newsletter input {
        padding: 0;
        margin: 1.25rem auto;
        font-size: .75rem;
        font-weight: bold;
        border-radius: .3125rem;
        width: 45%;
        
    }
    
    .contenedor-newsletter button {
        width: 100%;
        padding: .125rem;
        font-size: .75rem;
    
    }
            
        /* Service */
    
    .contenedor-service {
            
        padding: 3.125rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
        
    .service {
        max-width: 17.5rem;
        padding: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .service img {
        margin: .9375rem;
    }
    
    .contenedor-service .service h2 {
        font-size: 1rem;
    }
    
    .contenedor-service .service p {
        font-size: .75rem;
    }
    
        /* Footer */

        .contenedor-footer {
            height: auto;
            padding: 1.875rem;    
            width: 100%;
            text-align: center;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: .625rem 0;
            gap: .9375rem;
            .contenedor-imgLogoFooter {
            max-width: 17.5rem;
            max-height: 9.375rem;
            flex-basis: 0%;
            }
                .horario {
                padding: .625rem;
                text-align: center;
                img {
                width: 6.25rem;
                height: 6.25rem;
                }
            }
            .socialMediaColumn {
                padding-top: 3.125rem;
                flex-basis: 0%;
                .socialMediaf {
                    flex-basis: 0%;
                    gap: .625rem;
                        .imgRedSocial {
                        width: 100%;
                        height: 100%;
    
            }
            }
            }
            }
        .foot {
            p{
            padding: .3125rem;
            text-align: center;
            background-color: black;
            color: white;
    
            }
            }
        

    /* Contacto */
    
    .contenedor-contacto form {
        width: 80%;
        height: auto;
        padding: 6.25rem 0;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        backdrop-filter: blur(1.875rem);
    
    }
    
    .contenedor-contacto form h1 {
        margin-bottom: 3.125rem;
        width: 100%;
        font-size: 1.875rem;
    }
    
    .contenedor-contacto form input {
        width: 80%;
        height: 2.5rem;
        padding-left: 0;
    }
    
    .contenedor-contacto #apellido, .contenedor-contacto #movil {
        margin-left: 0;
    }
    
    .contenedor-contacto form h4 {
        color: white;
        font-weight: 300;
        width: 80%;
        margin-top: 1.25rem;
    
    }
    
    .contenedor-contacto form textarea {
        min-width: 80%;
        max-width: 80%;
    }
    
    
    
    /* store */
    
    .contenedor-store {
        width: 100%;
        height: auto;
        padding: 3.125rem 0;
        gap: 3.4375rem;
            .header-store {
            padding-top: 4.375rem;
            h2 {
            width: 100%;
            margin-top: 1.25rem;
            padding: 0;
            font-size: 1.875rem;
            text-align: center; 
        }
        }
        }
    .background_img {
        width: 18.75rem;
        height: 9.375rem;
        }

    /* Blog */
    
    .contenedor-blog  {
        padding: 2.5rem 0 ;
            h2 {
            font-size: 1.5625rem;
            height: auto;
            padding: 2.5rem 0 1.25rem 0;
            margin: 0;
            }
            .background_img_blog {
                width: 70%;
                padding: 3.75rem 8.125rem;
            }
            .blog {
                width: 80%;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 1.5625rem;
                    img {
                    width: 100%;
                    height: 100%;    
                    }
                    p {
                    padding: .625rem;
                    font-size: .75rem;
                    }
                    .btn {
                        width: 40%;
                        align-self: center;
                        font-size: .875rem;
                        }
                        }
    }


        // FAQ

    .faq_h1 {
    position: relative;
    top: 3.75rem;
    }

    
    .background_faq {
        background-size: cover;
    }

    .container_faq {
        width: 90%;
        .acordeon_1 {
            width: 90%;
    }
    }

            // PS4

            .container_ps4 {
                .ps4_header {
                    h1 {
                    padding: 6.25rem 0;
                    font-weight: 600;
                    font-size: 1.875rem;
                    color: $white_light;
                    text-align: center;
                    text-shadow: 6px 6px 8px black;
                    animation: textoH1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
                }
                }
            .container_slider {
                display: none;
            }
            
            .top_10 {
                padding: 1.875rem 0;
                    h2 {
                        height: 6.25rem;
                        padding: 1.875rem;
                        font-size: 1.25rem;
                        
         
                    }
                    .top10_flex {
                            .ps4_card {
                                width: 80%;
                                h3 {
                                    font-weight: 200;
                                    font-size: .9375rem;
                                    }
                                img {
                                    width: 100%;
                                }
            
                                
                            }
                    }
            }
            
            .container_slider_plus {
                display: none;
            }
            
            
            
            
            .plus {
                h2 {
                    height: 6.25rem;
                    padding: 1.875rem .3125rem;
                    margin: auto;
            
                }
                    .plus_flex {
                        margin: 3.125rem 0;
                        width: 80%;
                    }
            }
            
            
            
            }
    
    }    
    
    @media (max-width: 375px) {
    
    * {
        font-size: 1rem;
        max-width: 23.4375rem;
    }
    
    #header {
        display: none;
    }
    
    #header_movil {
        display: block;
    }
    
    /* Main */
    
    .contenedor-main {
        padding: 5rem 1.25rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
    
    .contenedor-main h1 {
        padding: 1.25rem 0 .625rem 0;  
        font-weight: 700;
        font-size:  .875rem;
        margin-bottom: 0; 
                    
    }

    .carrousel_h1 {
        padding: 0;
        height: 3.125rem;
        font-size: .875rem;
        .pre {
            padding: 0;
        }
        .out {
            padding: 0;
            .inner {
                margin-left: .5rem ;
                height: 7vh;
            }
        }                  
    }

    @keyframes rotate_h1 {
        0%,50% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(-50px);
        }
        100%{
            transform: translateY(-100px);
        }
    
    }

    
    .imgMenu {
        margin: 0;
        max-width: 7.1875rem;
        max-height: 15.9375rem;
    }
        
    .imgMenuLateral {
        margin: 0;
        max-width: 14rem;
        max-height: 12.5625rem;
    
    }
        
    .imgMenu-1 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-2 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-3 { 
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-4 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-5 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .contenedor-columnaImgLateral {
        gap: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    /* Newsletter */
    
    .contenedor-newsletter {
        padding: 4.375rem 1.25rem;
    
        }
    
    .contenedor-newsletter h2 {
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
            
    }
            
    .contenedor-newsletter p  {
            
        font-size: .75rem;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
            
    }
    
    .contenedor-newsletter div form {
        width: 100%;
        margin: auto;
        text-align: center;
    
    }
            
    .contenedor-newsletter input {
        padding: 0;
        margin: 1.25rem auto;
        font-size: .625rem;
        font-weight: bold;
        border-radius: .3125rem;
        width: 45%;
        
    }
    
    .contenedor-newsletter button {
        width: 100%;
        padding: .125rem;
        font-size: .625rem;
    
    }
            
        /* Service */
    
    .contenedor-service {
            
        padding: 3.125rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
        
    .service {
        max-width: 17.5rem;
        padding: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .service img {
        margin: .9375rem;
    }
    
    .contenedor-service .service h2 {
        font-size: .875rem;
    }
    
    .contenedor-service .service p {
        font-size: .625rem;
    }
    
        /* Footer */


        .contenedor-footer {
            height: auto;
            padding: 1.875rem;    
            width: 100%;
            text-align: center;
            display: flex;
            align-content: center;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;
            padding: .625rem 0;
            gap: .9375rem;
            .contenedor-imgLogoFooter {
            max-width: 17.5rem;
            max-height: 9.375rem;
            flex-basis: 0%;
            }
                .horario {
                padding: .625rem;
                text-align: center;
                img {
                width: 6.25rem;
                height: 6.25rem;
                }
            }
            .socialMediaColumn {
                padding-top: 3.125rem;
                flex-basis: 0%;
                .socialMediaf {
                    flex-basis: 0%;
                    gap: .625rem;
                        .imgRedSocial {
                        width: 100%;
                        height: 100%;
    
            }
            }
            }
            }


                .foot {
                    p{
                    padding: .3125rem;
                    text-align: center;
                    background-color: black;
                    color: white;
                    
                    }
                    }
            
    /* Contacto */
    
    .contenedor-contacto form {
        width: 80%;
        height: auto;
        padding: 6.25rem 0;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        backdrop-filter: blur(1.875rem);
    
    }
    
    .contenedor-contacto form h1 {
        margin-bottom: 3.125rem;
        width: 100%;
        font-size: 1.875rem;
    }
    
    .contenedor-contacto form input {
        width: 80%;
        height: 2.5rem;
        padding-left: 0;
    }
    
    .contenedor-contacto #apellido, .contenedor-contacto #movil {
        margin-left: 0;
    }
    
    .contenedor-contacto form h4 {
        color: white;
        font-weight: 300;
        width: 80%;
        margin-top: 1.25rem;
    
    }
    
    .contenedor-contacto form textarea {
        min-width: 80%;
        max-width: 80%;
    }
    
    .contenedor-contacto #button {
        margin-right: 0;
        margin-bottom: 0;
    }
    
    
    /* store */
    
    .contenedor-store {
        width: 100%;
        height: auto;
        padding: 3.125rem 0;
        gap: 3.4375rem;
            .header-store {
            padding-top: 4.375rem;
            h2 {
            width: 100%;
            margin-top: 1.25rem;
            padding: 0;
            font-size: 1.875rem;
            text-align: center; 
        }
        }
        }
    .background_img {
        width: 18.75rem;
        height: 9.375rem;
        }


    /* Blog */
   
    .contenedor-blog  {
        padding: 2.5rem 0 ;
            h2 {
            font-size: 1.5625rem;
            height: auto;
            padding: 2.5rem 0 1.25rem 0;
            margin: 0;
            }
            .background_img_blog {
                width: 70%;
                padding: 3.75rem 8.125rem;
            }
            .blog {
                width: 80%;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 1.5625rem;
                    img {
                    width: 100%;
                    height: 100%;    
                    }
                    p {
                    padding: .625rem;
                    font-size: .75rem;
                    }
                    .btn {
                        width: 40%;
                        align-self: center;
                        font-size: .875rem;
                        }
                        }
    }
    
        // FAQ

    .faq_h1 {
    position: relative;
    top: 3.75rem;
    }

    
    .background_faq {
        background-size: cover;
    }

    .container_faq {
        width: 90%;
        .acordeon_1 {
            width: 90%;
    }
    }

        // PS4

    .container_ps4 {
            .ps4_header {
                h1 {
                padding: 6.25rem 0;
                font-weight: 600;
                font-size: 1.875rem;
                color: $white_light;
                text-align: center;
                text-shadow: 6px 6px 8px black;
                animation: textoH1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
            }
        .container_slider {
            display: none;
        }
        
        .top_10 {
            padding: 1.875rem 0;
                h2 {
                    height: 6.25rem;
                    padding: 1.875rem;
                    font-size: 1.25rem;
                    
     
                }
                .top10_flex {
                        .ps4_card {
                            width: 80%;
                            h3 {
                                font-weight: 200;
                                font-size: .9375rem;
                                }
                            img {
                                width: 100%;
                            }
        
                            
                        }
                }
        }
        
        .container_slider_plus {
            display: none;
        }
        
        
        
        
        .plus {
            h2 {
                height: 6.25rem;
                padding: 1.875rem .3125rem;
                margin: auto;
        
            }
                .plus_flex {
                    margin: 3.125rem 0;
                    width: 80%;
                }
        }
        
        
        
        }


    
    }
    
    @media (max-width: 320px) {
    
    * {
        font-size: 1rem;
        max-width: 20rem;
    }
    
    #header {
        display: none;
    }
    
    #header_movil {
        display: block;
    }
    
    
    
    /* Main */
    
    .contenedor-main {
        padding: 5rem 1.25rem;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.875rem;
    }
    
    .carrousel_h1 {
        padding: 0;
        height: 5rem;
        font-size: .875rem;
        .pre {
            padding: 0;
        }
        .out {
            padding: 0;
            height: 6vh;
            .inner {
                margin-left: .5rem ;
                height: 7vh;
            }
        }                  
    }

    @keyframes rotate_h1 {
        0%,50% {
            transform: translateY(0);
        }
        50%{
            transform: translateY(-50px);
        }
        100%{
            transform: translateY(-100px);
        }
    
    }
    
    .imgMenu {
        margin: 0;
        max-width: 7.1875rem;
        max-height: 15.9375rem;
    }
        
    .imgMenuLateral {
        margin: 0;
        max-width: 14rem;
        max-height: 12.5625rem;
    
    }
        
    .imgMenu-1 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-2 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-3 { 
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .imgMenu-4 {
        margin-top: 0;
        margin-right: 50px;
    }
        
    .imgMenu-5 {
        margin-bottom: 0;
        margin-left: 50px;
    }
        
    .contenedor-columnaImgLateral {
        gap: 1.875rem;
        padding-bottom: 1.875rem;
    }
    
    /* Newsletter */
    
    .contenedor-newsletter {
        padding: 4.375rem 1.25rem;
    
    }
    
    .contenedor-newsletter h2 {
        font-size: 1.75rem;
        font-weight: 600;
        text-align: center;
            
    }
            
    .contenedor-newsletter p  {
            
        font-size: .75rem;
        font-weight: 700;
        letter-spacing: 0;
        text-align: center;
            
    }
    
    .contenedor-newsletter div form {
        width: 100%;
        margin: auto;
        text-align: center;
    
    }
            
    .contenedor-newsletter input {
        padding: 0;
        margin: 1.25rem auto;
        font-size: .625rem;
        font-weight: bold;
        border-radius: .3125rem;
        width: 45%;
        
    }
    
    .contenedor-newsletter button {
        width: 100%;
        padding: .125rem;
        font-size: .625rem;
    
    }
            
        /* Service */
    
    .contenedor-service {
            
        padding: 3.125rem 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
    }
        
    .service {
        max-width: 17.5rem;
        padding: .5rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
        
    .service img {
        margin: .9375rem;
    }
    
    .contenedor-service .service h2 {
        font-size: .875rem;
    }
    
    .contenedor-service .service p {
        font-size: .625rem;
    }
    
        /* Footer */


    .contenedor-footer {
        text-align: center;
        display: flex;
        height: auto;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1.875rem;
        gap: .9375rem;
            .contenedor-imgLogoFooter {
            max-width: 17.5rem;
            max-height: 9.375rem;
            flex-basis: 0%;
            }
            .horario {
            padding: .625rem;
            text-align: center;
            img {
            width: 6.25rem;
            height: 6.25rem;
            }
        }
        .socialMediaColumn {
            padding-top: 3.125rem;
            flex-basis: 0%;
            .socialMediaf {
                flex-basis: 0%;
                gap: .625rem;
                    .imgRedSocial {
                    width: 100%;
                    height: 100%;

        }
        }
        }
        }

        .foot {
            p{
            padding: .3125rem;
            text-align: center;
            background-color: black;
            color: white;

            }
            }
    
    /* Contacto */
    
    .contenedor-contacto form {
        width: 90%;
        height: auto;
        padding: 7.5rem 0;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        backdrop-filter: blur(1.875rem);
    
    }
    
    .contenedor-contacto form h1 {
        margin-bottom: 3.125rem;
        width: 100%;
        font-size: 1.875rem;
    }
    
    .contenedor-contacto form input {
        width: 80%;
        height: 2.5rem;
        padding-left: 0;
    }
    
    .contenedor-contacto #apellido, .contenedor-contacto #movil {
        margin-left: 0;
    }
    
    .contenedor-contacto form h4 {
        color: $white_light;
        font-weight: 300;
        width: 80%;
        margin-top: 1.25rem;
    
    }
    
    .contenedor-contacto form textarea {
        min-width: 80%;
        max-width: 80%;
    }
    
    .contenedor-contacto #button {
        margin-right: 0;
        margin-bottom: 0;
    }
    
    
    /* store */

    .container_card {
        width: 100%;
    }

        
    .contenedor-store {
        width: 100%;
        height: auto;
        padding: 3.125rem 0;
        gap: 3.4375rem;
            .header-store {
            padding-top: 4.375rem;
            h2 {
            width: 100%;
            margin-top: 1.25rem;
            padding: 0;
            font-size: 1.875rem;
            text-align: center; 
        }
        }
        }
    .background_img {
        width: 18.75rem;
        height: 9.375rem;
        }
        
        
        
        
    
    /* Blog */
    
    .contenedor-blog  {
        padding: 2.5rem 0 ;
            h2 {
            font-size: 1.5625rem;
            height: auto;
            padding: 2.5rem 0 1.25rem 0;
            margin: 0;
            }
            .background_img_blog {
                width: 20%;
                padding: 3.75rem 8.125rem;
            }
            .blog {
                width: 80%;
                padding: 0;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                gap: 1.5625rem;
                    img {
                    width: 100%;
                    height: 100%;    
                    }
                    p {
                    padding: .625rem;
                    font-size: .75rem;
                    }
                    .btn {
                        width: 40%;
                        align-self: center;
                        font-size: .875rem;
                        }
                        }
    }
    
        
    


    // FAQ

    .faq_h1 {
    position: relative;
    top: 3.75rem;
    }

    .background_faq {
        background-size: cover;
    }

    .container_faq {
        width: 90%;
        .acordeon_1 {
            width: 90%;
    }
    }

    // PS4

    .container_ps4 {
            .ps4_header {
                h1 {
                padding: 6.25rem 0;
                font-weight: 600;
                font-size: 1.875rem;
                color: $white_light;
                text-align: center;
                text-shadow: 6px 6px 8px black;
                animation: textoH1 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
            }
        .container_slider {
            display: none;
        }
        
        .top_10 {
            padding: 1.875rem 0;
                h2 {
                    height: 6.25rem;
                    padding: 1.875rem;
                    font-size: 1.25rem;
                    
     
                }
                .top10_flex {
                        .ps4_card {
                            width: 80%;
                            h3 {
                                font-weight: 200;
                                font-size: .9375rem;
                                }
                            img {
                                width: 100%;
                            }
        
                            
                        }
                }
        }
        
        .container_slider_plus {
            display: none;
        }
        
        
        
        
        .plus {
            h2 {
                height: 6.25rem;
                padding: 1.875rem .3125rem;
                margin: auto;
        
            }
                .plus_flex {
                    margin: 3.125rem 0;
                    width: 80%;
                }
        }
        
        
        
        }


    }

    

    